@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    /* font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em; */ 
    text-align: center;
    color: #FFFFFF;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    height: 100vh;
    z-index: 999;
    background: #1470B9;
    color: #fff;
    transition: all 0.3s;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#sidebar.active {
    left: 0;
}

#dismiss {   
    text-align: center;
    position: absolute;
    top: 25px;
    right: 10px; 
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding-left: 10px;
    padding-top: 20px; 
    font-size: 24px;
    background: #1470B9;
}

#sidebar ul.components {
    padding: 20px 30px;  
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px; 
    font-size: 1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #1470B9;
    background: #fff;  
    border: 1px solid #1470B9;
    border-radius: 25px;
}  

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #1470B9;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #1470B9;
} 

a.article,
a.article:hover {
  background: #1470B9 !important;
    color: #fff !important;
} 

